<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>css示例</title>
    <!--<link rel="stylesheet" href="/day01/css/demo-css/cssdemo.css">-->
    <!-- html的注释 -->
    <style type="text/css">
        /* css的注释 */
        /*div {background-color:green;width:80%}
        #myid {background-color:red;height:900px}*/
        .my-class {background-color:yellow;}
    </style>
</head>
<body>
    <div style="background-color: red;width:50px;height:200px;">编号1</div>
    <div style="float:right;background-color: green;width:50px;height:20px;">编号2</div>
    <div style="background-color: blue;width:50px;height:200px;">编号3</div>
    <div style="background-repeat:no-repeat;background-image:url('/day02/img/demo-css/football.jpg');text-align:right;color:pink;font-weight:bold;font-style:italic;font-size:30px;height:200px;border-style: dashed;border-color:red; margin:50px 100px 200px 300px;">
        盒子模型<br/>
        盒子模型<br/>
        盒子模型<br/>
        盒子模型<br/>
    </div>
    <a class="my-class" href="http://www.baidu.com">百度</a>
    <a class="my-class" href="http://www.baidu.com">百度</a>
    <a class="my-class" href="http://www.baidu.com">百度</a>
    <a class="my-class" href="http://www.baidu.com">百度</a>
    <div>
        abc
    </div>
    <p >一个段落</p>
    <div>
        def
    </div>
</body>
</html>